.nav-logo {
  height: auto !important;
  width: auto !important;
  max-height: 70px !important;
  object-fit: contain;
  margin-top: 11px !important;
  margin-left: 16px !important;
}
#navbar > div:last-child {
    padding-left: 0 !important;
  }
